body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
}

header {
    background-image: linear-gradient(to bottom, red, black);
    font-size: 20px;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.logo{
    vertical-align: middle;
}

#nav {
    display: flex;
    gap: 25px;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav img {
    width: 35px;
    height: 35px;
}


#nav a:hover {
    color: #e50914;
}

#pesquisa {
    display: flex;
}

#pesquisa input {
    padding: 15px 40px;
    width: 300px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#pesquisa button {
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.filme {
    background-color: #252525;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.filme img {
    width: 100%;
    height: 400px;
    vertical-align: middle;
}

.filme .symbol{
    width:25px;
    height:25px; 
    vertical-align: middle;
}
.filme h3 {
    margin-bottom: 5px;
}

.filme p {
    color: #bbb;
}

footer {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-top: 30px;
    background-image: linear-gradient(to bottom, black, red);
    color: white;
    align-items: center;
}

footer img{
    width: 55px;
    height: 55px;
    gap: 4px;
    margin-top: -100px;
}

.seguranca{
    width: 150px;
    height: 100px;
    gap: 4px;
    margin-bottom: -25px;
}

.reclame{
    width: 180px;
    height: 90px;
    margin-bottom: -29px;
    gap: 4px;
}

@media (max-width: 900px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
    header {
        flex-direction: column;
        gap: 15px;
    }

    header nav {
        flex-direction: flex;
        gap: 10px;
    }

    .filme img {
        width: 100%;
    }

    footer nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .seguranca{
        display: none;
    }
}